!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE-edge"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/
    %meta{"name" => "author", "content" => ""}/
    %meta{name: "pdfkit-page_size", content: "Letter"}
    %meta{name: "pdfkit-grayscale", content: "100"}
    

    %title
      = "HipChat Transcripts for #{@room.name}"

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :crossorigin => "anonymous"}


    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", :crossorigin => "anonymous"}  
  
    / HTML5 Shim and Respond.js IE8 Support of HTML5 elements and media queries.
    / WARNING: Respond.js doesn't work if you view the page using file://
    /[if IE9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.42/respond.min.js"}

  %body
    = haml :navbar
  
    .container
      .col-md-10.col-md-offset-1{:style => "margin-top:3em;"}
        
        %h3
          = "Markdown Transcript for #{@room.name}"


          .form-group{:style => "margin-top:.5em;"}
            %textarea.form-control{:style => "font-family: Monospace;font-size:small;", :rows => 25}
              = "# HipChat Transcript for #{@room.name}\n"
              = "_Generated #{Date.today}_\n"
              = "**#{@messages.count} total messages, from #{Date.parse(@messages.last["UserMessage"]["timestamp"])} to #{Date.parse(@messages.first["UserMessage"]["timestamp"])}**"

              = "\r\r\r"
              = "---"
              = "\r\r\r"
              - @messages.each do |message|

                - begin
                  - message_text = message["UserMessage"]["message"]
                  - message_timestamp = message["UserMessage"]["timestamp"]
                  - user_name = message["UserMessage"]["sender"]["name"]
 
                  = "**#{user_name}** #{DateTime.parse(message_timestamp).strftime("%Y-%m-%d @ %H:%M")}:\r  " 
                  = "\t#{message_text}"
                  = "\n"
                  = "---\r\r"
                - rescue => e
                  = e.inspect
                  = message.inspect

